<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <main>

        <section class="title">
            <h2>Editar Usuario</h2>
        </section>

        <section class="form-container">
            <form action="/users/adminEdit/<%= usuario.id %> ?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="avatar-container">
                    <img id="vistaPrevia" src="/images/user/<%= usuario.image %>" class="avatarImg" alt="avatar" width="100%"
                      style="object-fit: cover; object-position: top;">
                    <div class="form-group">
                      <input type="file" class="form-control" id="customFileLang" name="avatar">
                    </div>
                </div>
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" value="<%- usuario.id %>" disabled>
                </div>
                <div class="form-group">
                    <label for="">Registro</label>
                    <input type="text" disabled value="<%- usuario.createdAt %>">
                </div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" name="first_name" value="<%- usuario.first_name %>">
                </div>
                <div class="form-group">
                    <label for="">Apellido</label>
                    <input type="text" name="last_name" value="<%- usuario.last_name %>">
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" name="email" value="<%- usuario.email %>">
                </div>
                <div class="form-group">
                    <label for="">Fecha de Nacimiento</label>
                    <input type="text" name="date" value="<%- usuario.date %>">
                </div>
                <div class="form-group">
                    <label for="">Provincia</label>
                    <input type="text" name="province" value="<%- usuario.province %>">
                </div>
                <div class="form-group">
                    <label for="">Ciudad</label>
                    <input type="text" name="city" value="<%- usuario.city %>">
                </div>
                <div class="form-group">
                    <label for="">Dirección</label>
                    <input type="text" name="adress" value="<%- usuario.adress %>">
                </div>
                <div class="form-group">
                    <label for="">Status</label>
                    <select name="category" id="">
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                </div>
                <!-- Buttons -->
                <div class="button-container">
                    <button id="back"><i class="fas fa-arrow-left"></i></button>
                    <button id="del"><i class="fas fa-trash-alt"></i></button>
                    <button id="save" type="submit"><i class="fas fa-save"></i></button>
                </div>
            </form>
        </section>

    </main>

    <%- include('./partials/footer.ejs')%>
</body>
</html>