<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>

  <div>
    <form id="formAdd" action="" method="POST" enctype="multipart/form-data">
      <div class="principal">
        <div class="container">
          <div class="form-group col-12 ">
            <div class="background-form">

              <div class="">
                <h1 id="title">Nuevo producto</h1>
              </div>

              <div class="pos">
                </small>
                <label for="tipo">Modelo *</label>
                <input type="text" class="form-control" id= "categ" placeholder="Modelo" name="model" 
                  value="<%=(typeof old != 'undefined' && old.model)?old.model:""  %>">
                <span id="errorModel" class="text-danger"><%= (typeof errors != 'undefined' && errors.model)?errors.model.msg:"" %>
                </span>
              </div>

              <div class="pos">
                <label for="">Categoría</label>
                <select class="form-control" name="id_categoria" id="categ">
                  <option value="" >Elegir Categoría </option>
                  <% categorias.forEach(categoria => { %>
                  <option value="<%= categoria.id %>"><%= categoria.category_name %> </option>
                  <% }) %>
                </select>
                <span id="errorCategory" class="text-danger"><%= (typeof errors != 'undefined' && errors.id_categoria)?errors.id_categoria.msg:"" %>
                </span>
              </div>

              <div class="pos">
                <label for="">Marca</label>
                <select class="form-control" name="brand_id" id="categ">
                  <option value="">Elegir Marca </option>
                  <% marcas.forEach(marca => { %>
                  <option value="<%= marca.id %>"><%= marca.brand_name %> </option>
                  <% }) %>
                </select>
                <span id="errorBrand" class="text-danger"><%= (typeof errors != 'undefined' && errors.brand_id)?errors.brand_id.msg:"" %>
                </span>
              </div>

              <div class="pos">
                <label for=""> Precio *</label>
                <input type="text" class="form-control" placeholder="Precio" id= "categ" name="price"
                  value="<%=(typeof old != 'undefined' && old.price)?old.price:""  %>">
                <span id="errorPrice" class="text-danger"><%= (typeof errors != 'undefined' && errors.price)?errors.price.msg:"" %>
                </span>
              </div>

              <div class="pos">
                <label for="tipo"> Descuento </label>
                <input id="categ" name="discount" type="number" class="form-control">
                <small class="text-danger" id="errorDiscount"></small>
              </div>

              <div class="pos">
                <label for=""> Subir imagen </label>
                <input type="file" name="images" class="form-control" id= "categ">
                <small class="text-danger" id="errorImage"></small>
              </div>

              <div class="pos">
                <label for="tipo"> Descripción </label>
                <textarea name="description" id="descripcion" class="form-control"></textarea>
                <small class="text-danger" id="errorDescription"></small>
                <span class="text-danger"><%= (typeof errors != 'undefined' && errors.description)?errors.description.msg:"" %>
              </div>

              <div class="pos">
                <label for="tipo"> Especificaciones </label>
                <textarea name="features" id="features" class="form-control"></textarea>
                
              </div>

              <div class="pos">
                <small class="text-danger" id="errorSubmit"></small>
                <button id="public" type="submit">Publicar</button>
              </div>


            </div>
          </div>
        </div>
      </div>
    </form>
  </div>




  <%- include('./partials/footer.ejs') %>


</body>

</html>