<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 

  <div>
    <form action="" method="POST" enctype="multipart/form-data">
      <div class="principal">
      <div class="container">
      <div class="form-group col-12 ">
      <div id="prueba">

      <div class="">
        <h1 id="hombreAraña">Nuevo producto</h1>
      </div>

      <div id="pos">
        <label for="tipo" id="tipo">Categoria *</label>
        <select name="id_categoria" id="categ">
          <% categorias.forEach(categorias => { %>
            <option value="<%= categorias.id %>"><%= categorias.category_name %></option>
        <%})%>
        </select>
      </div>

      <div id="pos">
        <label for="tipo" id="tipo">Modelo *</label>
        <input type="text" name="model" id="categ">
      </div>

      <div id="pos">
        <label for="tipo" id="tipo"> Marca </label>
        <select name="brand_id" id="categ">
          <% marcas.forEach(marcas => { %>
            <option value="<%= marcas.id %>"><%= marcas.brand_name %></option>
        <%})%>
        </select>
      </div>

      <div id="pos">
        <label for="" id="tipo"> Precio *</label>
        
        <input id="categ" name="price" type="number">
      </div>

      <div id="pos">
        <label for="tipo" id="tipo"> Descuento </label>
        <input id="categ" name="discount" type="number">
      </div>

      <div id="pos">
        <label for="" id="tipo"> Subir imagen </label>
          <input type="file" name="images" class="">        
      </div>

      <div id="pos">
        <label for="tipo" id="tipo"> descripcion </label>
        <textarea name="description" id="descripcion" ></textarea>
        <span id="mini">Incluye estado, caracteristicas y motivo de venta</span>
      </div>
      
      <div id="pos">
        <button id="public" type="submit">Publicar</button>
      </div>
      

      </div>
      </div>
    </div>
    </div>
   </form>
  </div>

      

    
  <%- include('./partials/footer.ejs') %> 


</body>
</html>