<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>

  <section class="principal">
    <div class="container">
      <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data"
        class="edit">

        <h2 class="col-12">Editar Producto</h2>

        <div class="form-group col-12 col-md-6">
          <div class="pos">
          </small>
          <label for="tipo">Modelo *</label>
          <input type="text" class="form-control" id= "categ" placeholder="Modelo" name="model" 
            value="<%=(typeof old != 'undefined' && old.model)?old.model:""  %>">
          <span class="text-danger"><%= (typeof errors != 'undefined' && errors.model)?errors.model.msg:"" %>
          </span>
        </div>
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="">Marca</label>
          <select class="form-control" name="brand_id" id="categ">
            <option value="">Elegir Marca </option>
            <% brands.forEach(marca => { %>
            <option value="<%= marca.id %>"><%= marca.brand_name %> </option>
            <% }) %>
          </select>
          <span class="text-danger"><%= (typeof errors != 'undefined' && errors.brand_id)?errors.brand_id.msg:"" %>
          </span>
        </div>

        <div class="form-group col-12 col-md-4">
          <label for="">Imagen</label>
          <figure>
            <img src="/images/products/<%= product.images %> " alt="" srcset="">
          </figure>
          <input type="file" name="image">
        </div>

        <div class="form-group col-12 col-md-8">
          <label for="tipo"> Descripcion </label>
          <textarea name="description"><%= product.description%>"</textarea>
        </div>

        <div class="form-group col-12 col-md-12 features">
          <label for="tipo"> Especificaciones </label>
          <textarea name="features"><%= product.features%>"</textarea>
        </div>

        <div class="form-group col-12 col-md-4">
          <label for="">Categoría</label>
          <select class="form-control" name="id_categoria" id="categ">
            <option value="">Elegir Categoría </option>
            <% categories.forEach(categoria => { %>
            <option value="<%= categoria.category_name %>"><%= categoria.category_name %> </option>
            <% }) %>
          </select>
          <span
            class="text-danger"><%= (typeof errors != 'undefined' && errors.id_categoria)?errors.id_categoria.msg:"" %>
          </span>
        </div>

        <div class="form-group col-12 col-md-4 col-lg-4">
          <label for=""> Precio</label>
          <input type="text" class="form-control" placeholder="Precio" id="categ" name="price"
            value="<%= product.price  %>">
          <span class="text-danger"><%= (typeof errors != 'undefined' && errors.price)?errors.price.msg:"" %>
        </div>

        <div class="form-group col-12  col-md-4 col-lg-4">
          <label for="tipo"> Descuento </label>
          <input name="discount" type="number" value="<%= product.discount%>">
        </div>
        <div class="btn-group">
          <button id="public" href="/products/editList" type="">Cancelar</button>
          <button id="public" type="submit" name="id" value="<%= product.id %> ">Guardar</button>
        </div>
      </form>
    </div>
  </section>

  <%- include('partials/footer') %>
</body>

</html>