<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>

  <section class="principal">
    <div class="container">
      <form action="/products/edit/<%= product.id %>?_method=PUT" method="POST" class="edit"
        enctype="multipart/form-data">

        <h2 class="col-12">Editar Producto</h2>

        <div class="form-group col-12 col-md-6">
          <label for="tipo" id="tipo">Modelo</label>
          <input type="text" name="model" value="<%= product.model%>">
          <span id="errorModel" class="text-danger" ><%= (typeof errors != 'undefined' && errors.model.id)?errors.model.id.msg:"" %>
          </span>
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="tipo" id="tipo"> Marca </label>
          <select class="form-control"  id="" name="brand">
              <option value="<%= product.brand_id %>"><%= product.brands.brand_name %></option>
             
              <% brands.forEach(marca => { %>
              <option value="<%= marca.id %>"><%= marca.brand_name %> </option>
              <% }) %>
        </select>
        <span id="errorBrand" class="text-danger" ><%= (typeof errors != 'undefined' && errors.brand_id)?errors.brand_id.msg:"" %>
        </span>
        </div>

        <div class="form-group col-12 col-md-4">
          <label for="">Imagen</label>
          <figure>
            <img id="vistaPrevia" src="/images/products/<%= product.images %>" class="avatarImg" alt="avatar" width="75%"
                          style="object-fit: cover; object-position: top;">
          </figure>
          <input type="file" name="images" id="avatarInput" value="/images/products/<%= product.images %>">
          <span id="errorFoto" class="text-danger"><%= (typeof errors != 'undefined' && errors.last_name)?errors.last_name.msg:"" %>
        </div>

        <div class="form-group col-12 col-md-8">
          <label for="tipo"> Descripcion </label>
          <textarea name="description"><%= product.description%>"</textarea>
          <span id="errorDescription" class="text-danger" ><%= (typeof errors != 'undefined' && errors.description)?errors.description.msg:"" %>
        </div>

        <div class="form-group col-12 col-md-12 features">
          <label for="tipo"> Especificaciones </label>
          <textarea name="features"><%= product.features%>"</textarea>
        </div>

        <div class="form-group col-12 col-md-6">
          <label for="tipo" id="tipo"> Categoria </label>
          <select class="form-control"  id="" name="category">
            <option value="<%= product.category_id %>"><%= product.categories.category_name %></option>
           
            <% categories.forEach(categoria => { %>
            <option value="<%= categoria.id %>"><%= categoria.category_name %> </option>
            <% }) %>
      </select>
        <span id="errorCategory" class="text-danger" ><%= (typeof errors != 'undefined' && errors.id_categoria)?errors.id_categoria.msg:"" %>
        </span>
        </div>

        <div class="form-group col-12 col-md-6 col-lg-4">
          <label for=""> Precio</label>
          <input name="price" type="number" value="<%= product.price%>">
          <span id="errorPrice" class="text-danger" ><%= (typeof errors != 'undefined' && errors.price)?errors.price.msg:"" %>
          </span>
        </div>

        <div class="form-group col-12  col-md-6 col-lg-4">
          <label for="tipo"> Descuento </label>
          <input name="discount" type="number" value="<%= product.discount%>">
        </div>
        <div class="btn-group">
          <small id="errorSubmit" class="text-danger"></small>
          <button id="public" href="/products/editList" type="">Cancelar</button>
          <button id="public" type="submit" name="id" value="<%= product.id %> ">Guardar</button>
          
          
        </div>
      </form>
    </div>
  </section>

  <%- include('partials/footer') %>
</body>

</html>