<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>

    <section class="principal">
        <div class="container">
            <form action="/products/edit/<%= productoSeleccionado.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        
            <h2 class="col-12">Editar Producto</h2>
        
            <div class="form-group col-12 col-md-6">
                <label for="tipo" id="tipo">Modelo</label>
                <input type="text" name="modelo" value="<%= productoSeleccionado.modelo%>">
            </div>
        
            <div class="form-group col-12 col-md-6">
                <label for="tipo"> Marca </label>
                <input type="text" name="marca" value="<%= productoSeleccionado.marca%>">
            </div>

            <div class="form-group col-12 col-md-4">
                <label for="">Imagen</label>
                <figure>
                    <img src="/images/products/<%= productoSeleccionado.image %> " alt="" srcset="">
                </figure>
                <input type="file" name="image">
            </div>

              <div class="form-group col-12 col-md-8">
                <label for="tipo"> Descripcion </label>
                <textarea name="descripcion"><%= productoSeleccionado.descripcion%>"</textarea>
              </div>
                      
              <div class="form-group col-12 col-md-12 col-lg-4" categorias">
                <label for="tipo">Categoria</label>
                    <select name="categoria">
                    <option value="<%= productoSeleccionado.categoria%>" selected><%= productoSeleccionado.categoria%></option>
                    <% categorias.forEach(categoria => { %>
                        <% if (categoria != productoSeleccionado.categoria) { %>
                            <option value=" <%= categoria %>"> <%= categoria %></option>
                        <% } %>
                    <% }) %>
                    </select>
              </div>
        
              <div class="form-group col-12 col-md-6 col-lg-4">
                <label for=""> Precio</label>
                <input name="precio" type="number" value="<%= productoSeleccionado.precio%>">
              </div>
        
              <div class="form-group col-12  col-md-6 col-lg-4">
                <label for="tipo"> Descuento </label>
                <input name="descuento" type="number" value="<%= productoSeleccionado.descuento%>">
              </div>
              <div class="btn-group">
                <button id="public" type="">Cancelar</button>
                <button id="public" type="submit" name="id" value="<%= productoSeleccionado.id %> ">Guardar</button>
              </div>
           </form>
        </div>
    </section>  

            <%- include('partials/footer') %>
    </body>

</html>