<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <section class="principal">
        <div class="container-lg">
            <h2 class="titulo">Listado de Usuarios</h1>
        </div>

        <div class="container-lg tabla">
            <!-- Header de la tabla -->
            <div class="fila head">
                <div class="campo nombre">Nombre</div>
                <div class="campo apellido">Apellido</div>
                <div class="campo email">Email</div>
                <div class="campo registro">Registro</div>
                <div class="campo acciones">Acciones</div>
            </div>
            <!-- Fin header de tabla -->

            <!-- Filas de usuarios -->
            <% usuarios.forEach(usuario => { %>
                <div class="fila">
                    <div class="campo nombre"><%- usuario.first_name %></div>
                    <div class="campo apellido"><%- usuario.last_name %></div>
                    <div class="campo email"><%- usuario.email %></div>
                    <div class="campo registro"><%- usuario.date %></div>
                    <div class="campo acciones">
                        <button class="btn btn-outline-light">
                            <h4 class="fas fa-edit text-primary"></h4>
                        </button>
                        <button class="btn btn-outline-light" type="submit">
                            <h4 class="fas fa-trash-alt text-danger"></h4>
                        </button>
                    </div>
                </div>
            <% }) %>

            <!-- Fin de fila de usuarios -->
        </div>

    </section>


    <%- include('./partials/footer.ejs')%>
</body>
</html>