<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/header.ejs') %>

    <section class="principal">
        <div class="container-lg">
            <h2 class="titulo">Listado de Usuarios</h1>
        </div>

        <div class="container-lg">
            <form id="searchForm" action="/users/listado/search/1">
                <input type="text" placeholder="Buscar nombre, apellido o email" name="term">
                <button type="submit" >Buscar</button>
            </form>
        </div>

        <div class="container-lg tabla">
            <!-- Header de la tabla -->
            <div class="fila head">
                <div class="campo nombre">Nombre</div>
                <div class="campo apellido">Apellido</div>
                <div class="campo email">Email</div>
                <div class="campo registro">Registro</div>
                <div class="campo acciones">Acciones</div>
            </div>
            <!-- Fin header de tabla -->

            <!-- Filas de usuarios -->
            <% usuarios.forEach(usuario => { %>
                <div class="fila">
                    <div class="campo nombre"><%- usuario.first_name %></div>
                    <div class="campo apellido"><%- usuario.last_name %></div>
                    <div class="campo email"><%- usuario.email %></div>
                    <div class="campo registro"><%- usuario.createdAt %></div>
                    <div class="campo acciones">
                        <!-- <form action="">
                            <button class="btn btn-outline-light">
                                <h4 class="fas fa-edit text-primary"></h4>
                            </button>
                        </form> -->
                        <form action="/users/delete/<%= usuario.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-outline-light" type="submit">
                                <h4 class="fas fa-trash-alt text-danger"></h4>
                            </button>
                        </form>
                    </div>
                </div>
            <% }) %>

            <!-- Fin de fila de usuarios -->
        </div>

        <!-- Botones de paginación -->
        <div class="container-lg page-buttons">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="button-container" 
                    data-currentPage="<%- currentPage %>" 
                    data-rows="<%- rows %>" 
                    data-limit="<%- limit %>"
                    data-search= <%= (typeof search != 'undefined') ? search : "" %>>
                </ul>
              </nav>
        </div>

    </section>

    <%- include('./partials/footer.ejs')%>
    <script type="text/javascript" src="/javascript/pageButtons.js"></script>
</body>
</html>