<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/header.ejs') %>

    <section class="principal">

        <div class="container">
            <div class="row">
            
            <!-- Filtro -->
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="filtro">

                        <a id="btn-filtro"><i class="fa fa-sliders-h"></i> FILTRAR</a>

                        <div class="filtro-categorias" id="filtros" >
                            <div class="cabecera">CATEGORIAS</div>

                            <ul>
                                <% categoria.forEach(cat => { %>
                                <li><a href="/products/category/<%= cat.toLowerCase() %>"><%= cat %></a></li>
                                <% }) %>
                            </ul>
                            
                            <!-- <div class="cabecera">MARCAS</div> -->
                        </div>
                        
                    </div>
                </div>

            <!-- Productos -->
                <div class="col-12 col-md-8">
                    <div class="row">
                    
                    <% if (productos.length == 0) { %>
                        <div >No tenemos productos de esta categoria</div>
                    <% } %>
                    <% productos.forEach(producto => { %>
                     
                        <div class="contenedor-productos">

                            <div class=" producto">
                                <a href="/products/detail/<%= producto.id %>">
                                    <figure>
                                    <img src="/images/products/<%= producto.image %> " alt="">
                                    </figure>
                                    <article>
                                    <span><%= producto.brand + ' ' + producto.model%> </span>
                                    <h2>$<%= producto.price %> </h2>
                                    </article>
                                </a>
                            </div>

                        </div>

                    <% }) %>

                    </div>
                 </div>
                    
            </div>

        </div>

    </section>

    <script src="javascript/filterDropdown.js"></script>
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>

