<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('partials/header') %>

  <form action="" method="POST" enctype="multipart/form-data" class="formulario">

    <h1>Registrate</h1>
    <div class="contenedor">

      <div class="input-contenedor">
        
        <input type="text"
          class="form-control <%= (typeof old != 'undefined' && old.first_name)?"is-valid":(typeof errors != 'undefined' && errors.first_name)?"is-invalid": ""  %>"
          id="first_name" name="first_name" value="<%= (typeof old != 'undefined' && old.first_name)?old.first_name:'' %>"
          placeholder="Nombre" />
      </div>
      <small id="errorNombre" class="text-danger"><%= (typeof errors != 'undefined' && errors.first_name)?errors.first_name.msg: "" %></small>

      <div class="input-contenedor">
        
        <input type="text"
          class="form-control <%= (typeof old != 'undefined' && old.last_name)?"is-valid":(typeof errors != 'undefined' && errors.last_name)?"is-invalid": ""  %>"
          id="last_name" name="last_name" value="<%= (typeof old != 'undefined' && old.last_name)?old.last_name:'' %>"
          placeholder="Apellido" />
      </div>
      <small id="errorApellido" class="text-danger"><%= (typeof errors != 'undefined' && errors.last_name)?errors.last_name.msg: "" %></small>

      <div class="input-contenedor">
        
        <input type="email"
          class="form-control <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
          id="email" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="Email"
          name="email" />
      </div>
      <small id="errorEmail" class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %></small>

      <div class="input-contenedor">
        
        <input type="password"
          class="form-control <%= (typeof errors != 'undefined' && errors.pass)?"is-invalid": ""  %>" id="pass"
          placeholder="Contraseña" name="pass" />
      </div>
      <small id="errorPass" class="text-danger"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %></small>


      <div class="input-contenedor">
        
        <input type="password"
          class="form-control <%= (typeof errors != 'undefined' && errors.pass2)?"is-invalid": ""  %>" id="pass2"
          placeholder="Reingresar contraseña" name="pass2" />
      </div>
      <small id="errorPass2" class="text-danger"><%= (typeof errors != 'undefined' && errors.pass2)?errors.pass2.msg: "" %></small>

      <div class="input-contenedor">
        <div class="custom-file ">
          <input type="file" class="custom-file-input " id="customFileLang"
            lang="es" name="avatar">
          <label class="custom-file-label" for="customFileLang">Elegi tu Avatar</label>
        </div>
        <small id="errorImagen" class="text-danger"><%= (typeof errorFormato != 'undefined')?errorFormato: "" %></small>
      </div>

      <div id="pos">
        <small id="errorSubmit" class="text-danger"></small>
        <button type= "sumbit" class="button">Registrarse</a></button>
      </div>
      <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
      <!-- <button class="cuentas" type="button"><a class="link" href="https://www.Facebook.com"> <span> <i
              class="fab fa-facebook-f"> </i> Ingresar con Facebook </a> </span> </button>
      <button class="cuentas" type="button"><a class="link" href="https://www.Gmail.com"> <span> <i
              class="fab fa-google"> </i> Ingresar con Google </a></span> </button> -->
      <p>¿Ya tienes una cuenta?<a class="link" href="/users/login">Iniciar Sesion</a></p>
    </div>
  </form>

  <%- include('./partials/footer.ejs') %>

</body>

</html>