<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head.ejs') %>

<body>

  <%- include('partials/header') %>


  <form action="" method="POST" enctype="multipart/form-data" class="formulario">

    <h1>Registrate</h1>
    <div class="contenedor">

      <div class="input-contenedor">
        <label for="nombre"></label>
        <input type="text"
          class="form-control <%= (typeof old != 'undefined' && old.nombre)?"is-valid":(typeof errors != 'undefined' && errors.nombre)?"is-invalid": ""  %>"
          id="nombre" name="nombre" value="<%= (typeof old != 'undefined' && old.nombre)?old.nombre:'' %>"
          placeholder="nombre" />
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %>
        </small>
      </div>


      <div class="input-contenedor">
        <label for="email"></label>
        <input type="email"
          class="form-control <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>"
          id="email" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>" placeholder="txtpas"
          name="email" />
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %>
        </small>
      </div>



      <div class="input-contenedor">
        <label for="pass"></label>
        <input type="password"
          class="form-control <%= (typeof errors != 'undefined' && errors.pass)?"is-invalid": ""  %>" id="pass"
          placeholder="contraseña" name="pass" />
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %>
        </small>
      </div>


      <div class="input-contenedor">
        <label for="pass2"></label>
        <input type="password"
          class="form-control <%= (typeof errors != 'undefined' && errors.pass2)?"is-invalid": ""  %>" id="pass2"
          placeholder="reingresar contraseña" name="pass2" />
        <small class="text-danger"><%= (typeof errors != 'undefined' && errors.pass2)?errors.pass2.msg: "" %>
        </small>
      </div>

      <div id="pos">
        <button class="button">Registrarse</a></button>
      </div>
      <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
      <button class="cuentas" type="button"><a class="link" href="https://www.Facebook.com"> <span> <i
              class="fab fa-facebook-f"> </i> Ingresar con Facebook </a> </span> </button>
      <button class="cuentas" type="button"><a class="link" href="https://www.Gmail.com"> <span> <i
              class="fab fa-google"> </i> Ingresar con Google </a></span> </button>
      <p>¿Ya tienes una cuenta?<a class="link" href="/login">Iniciar Sesion</a></p>
    </div>
  </form>

  <%- include('./partials/footer.ejs') %>

</body>

</html>